<section class="post-wrapper">

            <header class="featured-header topic-header">
                <h2 class="featured-title topic-name">Our Services</h2>
            </header>
            {{#get "posts" filter="tag:services" limit="6" include="tags" as |featured|}}
            {{#if featured}}
            <div class="cs-topic-article-feed cs-topic-article-feed-services">
            {{#foreach featured}}
                <article class="{{post_class}}">

                    <figure class="post-media">
                    <div class="u-placeholder same-height horizontal">
                        <a class="post-image-link" href="{{url}}">
                            {{#if feature_image}}
                                <img class="post-image u-object-fit" src="{{img_url feature_image size="l"}}" alt="{{title}}">
                            {{/if}}
                        </a>
                    </div>
                    </figure>

                    <header class="post-header">
                        <h2 class="post-title">
                            <a class="post-title-link" href="{{url}}">{{title}}</a>
                        </h2>
                        <div class="cs-excerpt">{{excerpt}}</div>
                     </header>
                     <!-- cs article exception -->
                    {{#match slug "=" "service-cyber-security"}}
                        <a class="post-tag tag-cyber-secuirty" href="/cyber-security" title="Cyber Security Services">Cyber Security Services</a>
                
                    {{else}}
                        {{#primary_tag}}
                            <a class="post-tag tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a>
                        {{/primary_tag}}
                    {{/match}}
                </article>
            {{/foreach}}
            </div>
            {{/if}}
        {{/get}}
        </section>