<ul class="nav links">
    {{#foreach navigation}}
        {{!-- SUBMENU PARENT --}}
        {{#match label "~^" "#"}}
            <li>
                <a href="{{url}}"> {{#split label separator="#"}}
                        {{this}}
                    {{/split}}</a>
                <i class="bx bxs-chevron-down arrow htmlcss-arrow"></i>
                <ul class="nav sub-menu">
        {{!-- Closing and NORMAL ITEM --}}
            {{else match label "~^" "+"}}
      
                        </ul>
                    </li>
                 <li> <a href="{{url}}"> {{#split label separator="+"}}
                        {{this}}
                    {{/split}}</a></li>

            {{else match label "~^" ">"}}
            <li class="more">
                <a href="{{url}}"> {{#split label separator=">"}}
                        {{this}}
                    {{/split}}</a>
                <i class="bx bxs-chevron-right arrow more-arrow"></i>
                
                <ul class="nav sub-menu more-sub-menu">

        

                {{else}}
                    <li> <a href="{{url}}">{{label}}</a></li>
            
        {{/match}}

    {{/foreach}}
</ul>
